page-home {
.box
{
    border:1px solid darkred;
    border-radius: 5px;
    background-color: lightgreen;
    margin-top:10px;
    padding-left: 10px;
}
.contestid
{
font-family: helvitica;
}
.bold
{
    font-style:bold;
}
}
